<ion-view>
  <ion-content>
    <div class="container">
      <div class="list card">
        <div class="row">
          <div style="width:100%;">
            <div class="item item-avatar previous">
              <h2>10-12-2015&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;13:20</h2>
            </div>
            <div class="item item-body">
              <div class="row">
                <div class="col-80">
                  <textarea disabled class="previous-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula ipsum, maximus vitae placerat eget, porttitor ut dui. Quisque posuere commodo dapibus. Aliquam sit amet imperdiet tortor, eget aliquet urna. Integer vel ipsum metus.
                  </textarea>
                </div>
                <div class="col-20 previous-total">
                  &pound;20
                </div>
              </div>  
            </div>
            <div class="item item-body">
              <div class="row participants">
                <b><span>ALEX RADU</span><span>STEFAN</span><span>VLAD RUSU</span></b>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
